-
  nav1 = {
    'name': 'Úkoly a schůzky',
    'link': 'index.html'
  }

-
  nav2 = {
    'name': 'Domlouvání schůzek',
    'link': 'domlouvani-schuzek.html'
  }

-
  nav3 = {
    'name': 'Kontakty',
    'link': 'kontakty.html'
  }

-
  nav4 = {
    'name': 'úspěšnost',
    'link': 'uspesnost.html'
  }
